@import "tailwindcss";

html, body {
  height: 100%;
}

body {
  /* Gradasi biru seperti di desain */
  background: linear-gradient(180deg, #0d1d58 0%, #0f2469 40%, #0b1a4a 100%);
  color: #e6ebff; /* putih kebiruan yang lembut */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Kartu terang di hero */
.card-ivory {
  background: #f7f7f5;
}
